@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #444;
  color: white;
  font-weight: 600;
}

.button:active {
  background-color: white;
  color: #444
}

.error-message {
  color: red;
}

input.error {
  border-color: red;
}
